/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Loader and Animation styles
   ========================================================================== */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    /* change if the mask should have another color then white */
    
    opacity: 1;
    z-index: 11111;
    /* makes sure it stays on top */
    
    height: 100%;
    overflow: hidden;
}

.loader {
    font-size: 12px;
    margin: 5em auto;
    position: relative;
    width: 50px;
    height: 50px;
}

.ball-clip-rotate-pulse {
    position: relative;
    height: 100%;
    display: block;
}

.ball-clip-rotate-pulse > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 100%;
}

.ball-clip-rotate-pulse > div:first-child {
    background: #333;
    height: 24px;
    width: 24px;
    top: 13px;
    left: 13px;
    -webkit-animation: scale 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    animation: scale 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
}

.ball-clip-rotate-pulse > div:last-child {
    position: absolute;
    border: 2px solid #111;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: transparent;
    border: 2px solid;
    border-color: #111 transparent #111 transparent;
    -webkit-animation: rotate 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    animation: rotate 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(0.6);
        transform: rotate(180deg) scale(0.6);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(0.6);
        transform: rotate(180deg) scale(0.6);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: translateX(0);
    /* IE 9 */
    
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}
/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: translateX(-100%);
    /* IE 9 */
    
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: translateX(100%);
    /* IE 9 */
    
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: translateY(-100%);
    /* IE 9 */
    
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}
/* JavaScript Turned Off */

.no-js #loader-wrapper {
    display: none;
}

.no-js h1 {
    color: #222222;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}

#loader-wrapper .loader {
    margin: 20% auto;
}

@media screen and (max-width: 980px) {
    #loader-wrapper .loader {
        margin: 50% auto;
    }
}

@media screen and (max-width: 860px) {
    #loader-wrapper .loader {
        margin: 50% auto;
    }
}

@media screen and (max-width: 740px) {
    #loader-wrapper .loader {
        margin: 50% auto;
    }
}

@media screen and (max-width: 640px) {
    #loader-wrapper .loader {
        margin: 40% auto;
    }
}

@media screen and (max-width: 480px) {
    #loader-wrapper .loader {
        margin: 40% auto;
    }
}

@media screen and (max-width: 360px) {
    #loader-wrapper .loader {
        margin: 40% auto;
    }